html, body{
	font-family: 'Roboto', sans-serif; 
}
body [class*="col-"] {
    padding-left:0;
    padding-right:0
}
body .row {
    margin-left:0;
    margin-right:0
}
/* container adjusted */
body .container-fluid {
    width:100%;
    max-width:none;
    padding:0;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media (max-height: 640px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.navbar {
    padding-left: 15px;
	z-index: 50;
	background-color: transparent;
	border-color: transparent;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.navbar span{
    color: white;
}
.navbar.scrolled {
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.navbar.scrolled span{
    color: #5e5e5e;
}
.navbar-brand{
	font-size: 200%;
}
.login{
	 
}
.login-panel{
	display: block;
	padding: 80px 50px 50px 50px; 
	color: white;
	text-align: left;
	height: 100vh;
	background: #ED1C24;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.login-panel-title{
	font-size: 300%;
	font-weight: 300;
	padding-bottom: 20px;
}
.container-fluid{
	padding-left: 0px;
}
.div-title{
    padding: 15px 20px 0px 20px;
    font-size: 300%;
    font-weight: 100; 
}
.div-title img{
    width: 50%;
}
.div-img{
    width: 100%;
}